Library
Library/
Logs
Logs/
obj
Channels_export/*
Temp
*.csproj
*.unityproj
*.userprefs
/UnityVS.cli.sln.DotSettings
/cli.rar
*.bak
*.sln
cli.sln
UnityVS.cli.sln
cli-csharp.sln
NonStopKnight.sln
Assets/UnityVS
Assets/UnityVS.meta
UnityPlugin/PropertyPlugin/Debug
UnityPlugin/PropertyPlugin/Release
UnityPlugin/PropertyPlugin/PropertyPlugin/Debug
UnityPlugin/PropertyPlugin/PropertyPlugin/Release
UnityPlugin/PropertyPlugin/Tester/Debug
UnityPlugin/PropertyPlugin/Tester/Release
ProjectSettings/ProjectVersion.txt
*.sdf
*.opensdf
*.filters
*.user
*.suo
*.ipch
*.sln
/Assets/_Artworks/Artwork_script
il2cpp_uc_export
adt_export_template
il2cpp_banshu_export
il2cpp_td_export
il2cpp_ucgo_export
lastknights_gosdk_template/bin
lastknights_gosdk_template/gen
lastknights_gosdk_template/libs/unity-classes.jar
/Assets/Tree.prefab
/Assets/Tree.prefab.meta
/Assets/Tree_Textures.meta
/Assets/Tree_Textures/diffuse.png
/Assets/Tree_Textures/diffuse.png.meta
/Assets/Tree_Textures/normal_specular.png
/Assets/Tree_Textures/normal_specular.png.meta
/Assets/Tree_Textures/shadow.png
/Assets/Tree_Textures/shadow.png.meta
/Assets/Tree_Textures/translucency_gloss.png
/Assets/Tree_Textures/translucency_gloss.png.meta
/Assets/_Artworks/Terrains/maincity_snow/Materials/No Name.mat
/Assets/_Artworks/Terrains/maincity_snow/Materials/No Name.mat.meta
/Assets/_Artworks/Terrains/maincity_snow/Materials/UE07801.mat
/Assets/_Artworks/Terrains/maincity_snow/Materials/UE07801.mat.meta
/Assets/_Artworks/Terrains/maincity_snow/Materials/UE07901.mat
/Assets/_Artworks/Terrains/maincity_snow/Materials/UE07901.mat.meta
/Assets/Fuck.cs
/Assets/Fuck.cs.meta
/Assets/Radar.cs
/Assets/Radar.cs.meta
/Assets/TestSpeed.cs
/Assets/TestSpeed.cs.meta
il2cpp_the9_export
Channels
Channels_export
Channels_template
Assets/StreamingAssets/abs/*
Assets/Upload/*
Assets/jniLibs/*
SDKs*
cdn_upload*
tools/jniLibs/*
tools/metadata_encrypt*
Assets/Configs/serialized_*
.vs